<h1>Tipos de Estruturas</h1><br>
<p>Na Ciência da computação, uma estrutura de dados é um modo particular de armazenamento e organização de dados em um computador de modo que possam ser usados eficientemente, facilitando sua busca e modificação.<br>Abaixo alguns exemlos de Estruturas</p><br>

<ul class="nav nav-tabs">
	<li class="active"><a href="#1" data-toggle="tab">Listas Encadeadas</a>
	</li>
	<li><a href="#2" data-toggle="tab">Pilhas</a>
	</li>
	<li><a href="#3" data-toggle="tab">Filas</a>
	</li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="1">
		<br>
		<p>Umas lista encadeada tem funcionalidades parecidas com um array(matriz) mas possui vantagens como menor gasto de memória além de suas posições(nós) poderem conter mais de uma informção ja que são formados por estruturas não por valores únicos</p><br>
		<iframe src="https://pastebin.com/embed_iframe/JxHfm9z6" style="border:none;width:100%;height:60em"></iframe>
		<br><br><a href="https://glot.io/snippets/eqk8ey4pr7" target="_blank">Clique aqui para ver o código em funcionamento.</a>
	</div>
	<div class="tab-pane" id="2">
		<br>
		<p>Uma Pilha, ao contrario de uma lista, não redireciona as informações na ordem que foram recebidas mas sim do ultimo para o primeiro como em um baralho de cartas, onde as cartas que são postas sobre a mesa teram sua ordem alterada de forma que a primeira carta agora é a ultima do baralho.</p><br>
		<iframe src="https://pastebin.com/embed_iframe/kiiG9D8T" style="border:none;width:100%;height:60em"></iframe>
		<br><br><a href="https://glot.io/snippets/eqk8l7jmes" target="_blank">Clique aqui para ver o código em funcionamento.</a>
	</div>
	<div class="tab-pane" id="3">
		<br><p>Filas se comportam de forma similar a Filas do mundo real onde o primeiro a chegar e atentido primeiro e após isso o segundo se torna o primeiro da fila, método conhecido como First In, First Out(FIFO), onde a primeira informação adicionada a fila será a primeira a sair e a ultima adicionada, a ultima a sair.</p><br>
		<iframe src="https://pastebin.com/embed_iframe/r7gNmisJ" style="border:none;width:100%;height:60em"></iframe>
		<br><br><a href="https://glot.io/snippets/eqk92rt8t3" target="_blank">Clique aqui para ver o código em funcionamento.</a>
	</div>
</div>
