<style type="text/css">
	a:link {color: black;}
	a:visited {color: black;}
	a:hover {color: black;}
	a:active {color: black;}
	.starter-template {padding: 3em 2em 2em 2em}
</style>

<h1>Projeto de integrador 2017 - 1º Semestre</h1><br>

<h3>Dissiplinas participantes:</h3>
<table style="width:100%">
	<tr>
		<th>Circuitos Digitais</th>
		<th>Prof. Me. Saulo Coelho</th>
	</tr>
	<tr>
		<th>Estrutura de Dados I</th>
		<th>Prof. Me. Silas Evandro Nachif Fernandes</th>
	</tr>
	<tr>
		<th>Fundamentos de Sistemas de Informação</th>
		<th>Prof. Me. Henrique Pachioni Martins</th>
	</tr>
	<tr>
		<th>Linguagem de Programação I</th>
		<th>Prof. Dr. Elvio Gilberto da Silva</th>
	</tr>
</table><br><br>

<p>Esse projeto tem como objetivo apresentar de forma educativa alguns dos conhecimentos adiquiridos nas matérias de Circuitos Digitais, Estrutura de Dados I, Fundamentos de Sistemas de Informação e Linguagem de Programação I.</p>
<p>Esse site foi completamente desenvolvido ultilizando-se das liguagens c#(Back-end), html5, css3 e javaScript ESM6(Front-end).</p><br><br>

<h3>Grupo</h3>
<table style="width:100%">
	<tr>
		<th><i class=" fa fa-facebook"><a href="https://www.facebook.com/allan.cherre" target="_blank"> Allan Cherre</a></th>
		<th></th>
		<th>ID: ⁠⁠⁠858265</th>
	</tr>
	<tr>
		<th><i class=" fa fa-facebook"><a href="https://www.facebook.com/hugo.yamasita" target="_blank"> Hugo Yamasita</a></th>
		<th></th>
		<th>ID: ⁠⁠⁠359041</th>
	</tr>
	<tr>
		<th><i class=" fa fa-facebook"><a href="https://www.facebook.com/rodrigogonss" target="_blank"> Rodrigo Gonçalves </a></th>
		<th> </th>
		<th>ID: 855839</th>
	</tr>
</table>
