<div class="texto">
	<h1>Sistema de Apoio à Decisão (SAD)</h1>
	<h3>SISTEMA DE APOIO A DECISÃO (SAD)</h3><br>
	<h4>Introdução</h4>
	<p>Os Sistemas de Apoio à Decisão (SAD) cobrem uma grande variedade de sistemas, ferramentas e tecnologias. Há quem pense que o termo SAD está ultrapassado e que foi substituído por um "novo tipo" de sistema chamado "on-line analytical processing" (OLAP). Outros há que preferem realçar os Sistemas de Apoio à Decisão baseados em conhecimento como o "state of the art" dos Sistemas de Apoio à Decisão. Os investigadores operacionais focam nos modelos de simulação e optimização como o "verdadeiro" Sistema de Apoio à Decisão. Numa opinião mais generalizada poderemos dizer que os SAD são um termo compreendido em muitos tipos de sistemas de informação que suportam tomadas de decisões.</p>

	<h4>Definições</h4>
	<p>São todos os intervenientes na tomada de uma decisão, desde a extração de dados, passando pelo armazenamento, uso de modelos, interface e até o próprio utilizador.</p>
	<p>Estes sistemas foram criados com o intuito de servir de adjuntos às pessoas que realizam decisões importantes, de maneira a expandir as suas capacidades, mas sem substituir as suas decisões.</p>
	<p>Sistemas de Apoio à Decisão são usados em decisões, em que um julgamento é necessário, ou em decisões que não são completamente suportadas por algoritmos, ou seja é sempre necessário um utilizador para usar estes sistemas, em que este representa o papel mais importante.</p>

	<br><h4>Vantagens</h4>
	<ul style="list-style-type:circle">
		<li>Rapidez</li>
		<li>Ultrapassar limites cognitivos (através do computador)</li>
		<li>Redução de custos</li>
		<li>Qualidade (obtenção do valor óptimo mais próximo dos nossos objetivos)</li>
		<li>Decisões mais eficazes</li>
		<li>Melhor comunicação entre os decisores</li>
		<li>Melhor utilização do processo de aprendizagem</li>
	</ul>

	<br><h4>Desvantagens </h4>
	<ul style="list-style-type:circle">
		<li>Problema de ação</li>
		<li>Orientação para escolha</li>
		<li>Suposição da relevância da resposta do sistema</li>
		<li>Transferência de poder ao sistema que não é intencional</li>
		<li>É mais difícil atribuir responsabilidades</li>
	</ul>
</div>
